.preview {
  padding: 30px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
}

.mb5 {
  margin-bottom: 5px;
}

.img {
  max-width: 80%;
  border: 0px;
  margin-left: 30px;
  vertical-align: center;
}
