.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

.siderLogo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  background: #001529;
  cursor: pointer;
  transition: all 0.3s;
  box-sizing: border-box;
  display: block;
}

.siderLogo img {
  display: inline-block;
  height: 32px;
  vertical-align: middle;
}

.siderLogo h1 {
  display: inline-block;
  margin: 0 0 0 12px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

.dashboard {
  display: inline-block;
  margin: 0 0 0 12px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

.__franchise-occupied {
  background-color: rgba(211, 136, 211, 0.438);
}
